############
## Windows
############

# Windows image file caches
Thumbs.db

#############
# OS X only:
#############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

##################
# Unity ignores:
#
# !!! WARNING !!!
#
# you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#

Temp/
Obj/
UnityGenerated/
Library/
# Builds folder
Builds/
Video/

# include meta files
!*.*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pdb

# ===================================== #
# Custom ignored folders for InteractML #
# ===================================== #
Packages/*.unitypackage
UnityPackages/
Assets/Dependencies/OpenCVForUnity
Assets/StreamingAssets
Assets/Scripts/OpenCV_Trackers
Assets/Oculus
Assets/SteamVR
Assets/SteamVR_Input
Assets/SteamVR_Resources
.collabignore
.vs/IML_Goldsmiths/v15/Server/
!Assets/InteractML/Resources/Icons
# ===================================== #
# Custom ignored metafiles for InteractML #
# ===================================== #
Assets/Oculus.meta
Assets/SteamVR.meta
Assets/SteamVR_Input.meta
Assets/SteamVR_Resources.meta

.vs/iml-unity/v16/Server/sqlite3/db.lock
.vs/iml-unity/v16/Server/sqlite3/storage.ide
.vs/iml-unity/v16/Server/sqlite3/storage.ide-shm
.vs/iml-unity/v16/Server/sqlite3/storage.ide-wal
*.ide
.vs/iml-unity/v16/Server/sqlite3/storage.ide
*.ide-wal
*.lock
*.ide-shm
*.vs/
Assets/LowPolyWater_Pack/Plane Meshes/Ocean50x50W750H750.asset
